* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

/* Navbar */
header {
    background: #111;
    padding: 15px 50px;
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00adb5;
}

/* Hero */
.hero {
    height: 100vh;
    background: linear-gradient(to right, #00adb5, #393e46);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 60px;
}

.hero span {
    color: #222831;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #222831;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #111;
}

/* Sections */
section {
    padding: 80px 50px;
    text-align: center;
}

.projects {
    background: #f4f4f4;
}

.project-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.project-card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    background-color: aquamarine;
}

/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Responsive */
@media(max-width: 768px) {
    .nav-links {
        display: none;
    }

    .project-grid {
        flex-direction: column;
        align-items: center;
    }
}
